html,
body {
  margin: 0;
  padding: 0;
  width: auto!important; 
  overflow-x: hidden!important
}
hr {
  margin: 0;
}
:root {
  --white: #353b48;
  --black: #fafafa;
  --bg: rgb(228, 246, 250);
  --t2: #00d1b2;
  --t1: #3e8ed0;
  --t3: #ffe08a;
  --t4: #f14668;
}
.columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
body {
  width: 100vw;
  min-height: 100vh;
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden !important;
}
.navbar {
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 10px rgba(211, 211, 211, 0.708);
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  text-decoration: none;
}
.navbar-item:hover {
  text-decoration: none;
}

.navbar-item img {
  max-height: 2rem !important;
  margin-right: 5px;
}

.buttons {
  width: 50px;
  justify-content: space-evenly;
  align-items: center;
  /* margin-bottom: -10px !important; */
}
#toggle-dropdown {
  width: auto !important;
  height: auto !important;
  border-radius: 50%;
  padding: 0;
}

.grid-container {
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.grid-item {
  width: 20em;
  height: 10em;
}
@media (max-width: 768px) {
  .column {
    margin: 15px;
  }
  .containermenu {
    width: 95% !important;
  }
}

.category {
  background: #6a26cd;
  margin: 10px;
}

.category-header {
  color: var(--black);
}
.notification {
  width: 100%;
}
.card {
  height: 150px;
  width: 100%;
  background: var(--bg);
}
.card:hover {
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.548);
}

.tile:hover {
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.548);
}

.button {
  justify-content: flex-start !important;
  text-align: left !important;
  margin-bottom: 0 !important;
  border: 0;
}
.items {
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
}
.items:hover {
  font-weight: 600;
  background: var(--bg);
  color: #3e8ed0;
}
.containermenu {
  width: 93%;
  margin: auto;
}
.dropdown-menu
{
  right: 5px !important;
  left:auto;
}
